body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red; /* Fundo vermelho */
    color: white; /* Cor do texto */
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px; /* Tamanho da fonte */
}
